<div class="row">
    <div class="col-12">
        <a routerLink="/employee/create" class="btn btn-success btn-block mb-3 mt-3">
            Create
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngFor="let col of cols">
                        {{ col.title }}
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of $list | async">
                    <td *ngFor="let col of cols">
                        {{ row[col.key] }}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a [routerLink]="'/employee/'+row.id" class="btn btn-info">
                                show
                            </a>
                            <button (click)="onDelete(row)" class="btn btn-danger">
                                del
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>