<div class="row">
    <div class="col-6">
        <form #createForm="ngForm" action="">
            <div class="form-group" *ngFor="let col of cols">
                <div *ngIf="col.key !== 'id'">
                    <label for="">{{ col.title }}</label>
                    <input 
                        required
                        [pattern]="validators[col.key] || '.*'" 
                        [name]="col.key" 
                        [(ngModel)]="employee[col.key]" 
                        type="text" 
                        class="form-control">
                    <div [hidden]="createForm.form.controls[col.key]?.valid || createForm.form.controls[col.key]?.pristine" class="alert alert-danger">
                        This field is required.
                    </div>
                </div>
            </div>
            <button [disabled]="!createForm.form.valid" type="button" (click)="onCreate(employee)" class="btn btn-primary btn-block">
                Create
            </button>
        </form>
    </div>
</div>
