<div class="row">
    <div class="col-6">
        <form action="">
            <div class="form-group" *ngFor="let col of cols">
                <div *ngIf="col.key !== 'id'">
                    <label for="">{{ col.title }}</label>
                    <input [name]="col.key" [(ngModel)]="employee[col.key]" type="text" class="form-control">
                </div>
            </div>
            <button type="button" (click)="onCreate(employee)" class="btn btn-primary btn-block">
                Create
            </button>
        </form>
    </div>
</div>
